.mediaViewInfo {
	--web-view-name: MIS FACTURAS;
	--web-view-id: MIS_FACTURAS;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: MIS_FACTURAS;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.MIS_FACTURAS_Class {
	position: absolute;
	width: 428px;
	height: 926px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: MIS FACTURAS;
	--web-view-id: MIS_FACTURAS;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
.fondo_aplicacion_Class {
	position: absolute;
	width: 428px;
	height: 926px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Grupo_3_Class {
	position: absolute;
	width: 383px;
	height: 80px;
	left: 22px;
	top: 82px;
	overflow: visible;
}
.logo_Class {
	position: absolute;
	width: 80px;
	height: 80px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.INTERNET_SOLUTIONS_Class {
	left: 77px;
	top: 27px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	text-align: center;
	font-family: Berlin Sans FB;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	color: rgba(43,152,148,1);
}
.Grupo_2_Class {
	position: absolute;
	width: 99px;
	height: 46px;
	left: 15px;
	top: 7px;
	overflow: visible;
	--web-animation: fadein 0.30000001192092896s ease-out;
	--web-action-type: page;
	--web-action-target: Atenci_n_al_cliente.html;
	cursor: pointer;
}
.volver_Class {
	opacity: 0.67;
	position: absolute;
	width: 27px;
	height: 46px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Volver_y_Class {
	left: 33px;
	top: 8px;
	position: absolute;
	overflow: visible;
	width: 67px;
	white-space: nowrap;
	text-align: center;
	font-family: Candara;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(43,152,148,1);
}
.MIS_FACTURAS_z_Class {
	left: 85px;
	top: 191px;
	position: absolute;
	overflow: visible;
	width: 260px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(43,152,148,1);
}
.Cdula_del_titular_de_la_lnea_Class {
	left: 47px;
	top: 423px;
	position: absolute;
	overflow: visible;
	width: 296px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(43,152,148,1);
}
.Rectngulo_36_Class {
	opacity: 0.84;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_36 {
	position: absolute;
	overflow: visible;
	width: 368px;
	height: 65px;
	left: 46px;
	top: 459px;
}
.Cedula_Class {
	opacity: 0.4;
	left: 69px;
	top: 476px;
	position: absolute;
	overflow: visible;
	width: 73px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}
.Rectngulo_41_Class {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_41 {
	position: absolute;
	overflow: visible;
	width: 357px;
	height: 76px;
	left: 52px;
	top: 714px;
}
.Buscar_Facturas_Class {
	left: 100px;
	top: 728px;
	position: absolute;
	overflow: visible;
	width: 270px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(43,152,148,1);
}
.Telfono_Class {
	left: 45px;
	top: 517px;
	position: absolute;
	overflow: visible;
	width: 100px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(43,152,148,1);
}
.Rectngulo_43_Class {
	opacity: 0.84;
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_43 {
	position: absolute;
	overflow: visible;
	width: 368px;
	height: 65px;
	left: 45px;
	top: 551px;
}
.Ingrese_telfono_Class {
	opacity: 0.4;
	left: 63px;
	top: 568px;
	position: absolute;
	overflow: visible;
	width: 176px;
	white-space: nowrap;
	text-align: left;
	font-family: Candara;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(0,0,0,1);
}